<div class="sidebar">
    <div class="item">
        <img class="icon" src="{{ url_for('static', filename='image/Logo.png') }}">
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item active" href="/">Dashboard</a></div>
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item" href="/Orders">Orders</a></div>
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item" href="/Products">Products</a></div>
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item" href="/Promotions">Promotions</a></div>
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item" href="/Admin">Admin</a></div>
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item" href="/Customer">Customer</a></div>
    </div>
    <div class="item">
        <div class="text"><a class="sideNav-item" href="/Logout">Logout</a></div>
    </div>
</div>
