

        <div class="sidebar">
            <div class="item">
                <img class="Logo" src="{{ url_for('static', filename='image/Logo.png') }}">
            </div>
            <hr class="Line">
            <div class="item">
                <div class="text"><a class="sideNav-item active" href="/adminDashboard">Dashboard</a></div>
            </div>
            <div class="item">
                <div class="text"><a class="sideNav-item" href="/adminOrder">Orders</a></div>
            </div>
            <div class="item">
                <div class="text"><a class="sideNav-item" href="/adminProducts">Products</a></div>
            </div>
            <div class="item">
                <div class="text"><a class="sideNav-item" href="/adminPromotions">Promotions</a></div>
            </div>
            <div class="item">
                <div class="text"><a class="sideNav-item" href="/adminEditAdmin">Admin</a></div>
            </div>
            <div class="item">
                <div class="text"><a class="sideNav-item" href="/adminEditCustomer">Customer</a></div>
            </div>
            <div class="item">
                <div class="text"><a class="sideNav-item" href="/Logout">Logout</a></div>
            </div>
        </div>
