<footer class="footer">

      <div class="container">
        <div class="row">
          <div class="col-md-4 pr-md-5">
              <img src="{{ url_for('static', filename='image/Logo.png') }}" alt="logo" style="width:auto; height:65px;" class="mb-4">
              <p style="font-weight:bold;">15 Pioneer Walk #01-453, Singapore 627753</p>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="/contactUs">Contact</a></li>
            </ul>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <li><a href="#">Clients</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Career</a></li>
              <li><a href="#">Awards</a></li>
            </ul>
          </div>
          <div class="col-md">
            <ul class="list-unstyled nav-links">
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms &amp; Conditions</a></li>
              <li><a href="#">Partners</a></li>
            </ul>
          </div>
          <div class="col-md text-md-center">
            <ul class="social list-unstyled">

              <li><a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a></li>
              <li><a href="https://twitter.com/"><i class="bi bi-twitter"></i></a></li>
              <li><a href="https://www.facebook.com/"><i class="bi bi-facebook"></i></a></li>
            </ul>
            <span><a href="/contactUs" class="btn btn-tertiary mt-3" >Contact Us</a></span>
          </div>
        </div>

        <div class="row ">
          <div class="col-12 text-center">
            <div class="copyright mt-3 pt-3">
              <p><small  style="font-weight:bold;">Copyright&copy; 2024 Eco Wear All Rights Reserved. </small></p>
            </div>
          </div>
        </div>
      </div>

    </footer>