<nav class="navbar sticky-top navbar-expand-sm bg-dark navbar-dark">
	<div class="container-fluid">
    	<a class="navbar-brand" href="#"><img src="" alt="It Innovation" class="logo"></a>
		<!-- Small Nav when resized -->
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar"><span class="navbar-toggler-icon"></span></button>

	  	<!-- End of Small Nav when resized -->
		<div class="collapse navbar-collapse flex-row-reverse" id="collapsibleNavbar">
		  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
			<li class="nav-item"><a class="nav-link active" href="#">link</a></li>
			<li class="nav-item"><a class="nav-link" href="#">link</a></li>
			<li class="nav-item "><a class="nav-link" href="#">link</a></li>
			<li class="nav-item"><a class="nav-link" href="#">link</a></li>
		  </ul>
		</div>
	</div>
</nav>