	<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='image/Logo.png') }}" alt="Logo" class="logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
		<div class="float-left">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">New & Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('men_category') }}">Men</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{{ url_for('women_category') }}">Women</a>
            </li>
			<li class="nav-item">
                <a class="nav-link" href="{{ url_for('kids_category') }}">Kids</a>
            </li>
		</ul>
		</div>

		<ul class="navbar-nav ml-auto">

			<li class="nav-item">
				<a class="nav-link" href="#"><i class="bi bi-search"></i></a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="/cart"><i class="bi bi-cart"></i></a>
			</li>

            <li class="nav-item dropdown-login">

				{% if 'User_ID' in session %}
					{% if 'Role' in session and session['Role'] == 'customer' %}
						<a class="nav-link" role="button" href="/userdashboard"><i class="bi bi-person-fill"></i></a>
					{% else %}
						<a class="nav-link" role="button" href="/admindashboard"><i class="bi bi-person-fill-gear"></i></a>
					{% endif %}


					<div class="dropdown-menu dropdown-menu-right p-4" >
						<p>Welcome, {{ session['Username'] }}</p>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#"><i class="bi bi-gear"></i>Setting </a>
						<div class="dropdown-divider"></div>
						<a class="dropdown-item" href="#" onclick="confirmLogout()"> <i class="bi bi-box-arrow-right "></i> Logout</a>
					</div>

				{% else %}

					<a class="nav-link" role="button" href="/login">
						<i class="bi bi-person"></i>
					</a>

				{% endif %}

            </li>
			<!-- For logout alert -->
			<script>
			function confirmLogout() {
				if (confirm('Are you sure you want to logout?')) {
					window.location.href = "{{ url_for('logout') }}";
				}
			}
			</script>

        </ul>
    </div>
</nav>