<nav class="navbar navbar-vertical bg-light">
  <ul class=" ProfileNav navbar-nav">
    <li class="ProfileNavItem1 nav-item">
      <a class="nav-link" href="#">My Account</a>
    </li>
    <li class="ProfileNavItem2 nav-item">
      <a class="nav-link" href="#">Addresses</a>
    </li>
    <li class="ProfileNavItem3 nav-item">
      <a class="nav-link" href="#">Purchase History</a>
    </li>
    <li class="ProfileNavItem4 nav-item">
      <a class="nav-link" href="#">Notifications</a>
    </li>
  </ul>
</nav>