

/* Admin NavBar */

body {
    /*background-color: #99989a*/;
    font-family: 'Poppins';
    color: black;
}

.sidebar {
    width: 200px;
    height: 100vh;
    box-sizing: border-box;
    padding: 10px;
    background-color: black;
    transition: ease-in-out 0.3s;
    overflow: hidden;
    border-radius: 4px;
}

.sidebar > .item .text {
    opacity: 1;
}

.hr {
    height: 1px;
    color: #919191;
    margin: 15px 0;
}

.item {
    display: flex;
    align-items: center;
    margin: 20px 0;
}


.item .text {
    opacity: 0;
    transition: ease-in-out 0.3s;
    transition-delay: .2s;
    margin-left: 15px;
    white-space: nowrap;
}

.box {
    background-color: black;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.Header {
    padding-left: 250px;
    color: white;
    padding-top: 15px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.Logo {
    width: 100%;
    height: auto;
}

.Line {
    background-color: white;
    height: 2px;
    border: none;
}
.promotion.col-11{
    padding: 0px 80px;
}

.promo{
    padding-top: 100px;
}