{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<style>
    .card-body {
      display: flex;
      justify-content: space-between;
    }
    .card-body img {
      width: 80%;
      height: auto;
    }
    table {
    border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    /* Additional styling for specific columns */
    .date {
        width: 100px; /* Adjust width as needed */
    }

    .time {
        width: 80px; /* Adjust width as needed */
    }

    .summary {
        width: 300px; /* Adjust width as needed */
    }
</style>
<h1 class="Header"> DashBoard </h1>
<hr>
<div class="table">
    {{ plot_html|safe }}
</div>
<div class="container">
    <div class="row">
        <div class="image-container col-md-4">
            <div class="card">
                <div class="card-body">
                    Popular Item
                    <img src="static/image/Shirt.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="image-container col-md-4">
            <div class="card">
                <div class="card-body">
                    New item
                    <img src="static/image/Shirt.jpeg" alt="">
                </div>
            </div>
        </div>
        <div class="image-container col-md-4">
            <div class="card">
                <div class="card-body">
                    Limited Item
                    <img src="static/image/Shirt.jpeg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="Calendar API">
    <h1>Upcoming Events</h1>
    <table>
        <thead>
            <tr>
                <th>Date & Time</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.start.dateTime.split(' ')[0] }}</td>
                <td>{{ event.summary }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}