{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<style>
    table, th, td {
  border: 1px solid;
    }
    table{
    width:100%;
    }
</style>
<div class="box">
<h1 class="Header"> Edit Users </h1>
</div>

<div class="table">
    <table class="dbtable">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>DOB</th>
            <th>Role</th>
            <th>Del</th>
        </tr>
        {% for user in displayuser %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
            <td>{{ user[6] }}</td>
            <td class="delete">
                <form method="post" action="{{ url_for('delete_user') }}">
                    <input type="hidden" name="UserID" value="{{ user[0] }}">
                    <button type="submit" onclick="return confirmDelUser()">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<form method="post" action="{{ url_for('adminEditUsers') }}">


    <input type="submit" value="Create User">
</form>
<script>
  function confirmDelUser() {
    return confirm('Confirm Delete?');
    }
</script>
{% endblock %}