{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="box">
<h1 class="Header"> Products </h1>
</div>
<div class="table">
    <form method="post" action="{{ url_for('adminProducts') }}" enctype="multipart/form-data">
        <label for="Image">Image:</label>
        {{ form.image(class="form-control") }}

        <label for="name">name:</label>
        {{ form.name(class="form-control") }}

        <label for="price">price:</label>
        {{ form.price(class="form-control") }}

        <label for="category">category:</label>
        {% for category, label in form.category.choices %}
                <br><label>
                    <input type="checkbox" name="category" value="{{ category }}"
                           {% if category in form.category.data %}checked{% endif %}>
                    {{ label }}
                </label>
            {% endfor %}


        <br>
        <label for="stock">stock:</label>
        {{ form.stock(class="form-control") }}

        <label for="description">description:</label>
        {{ form.description(class="form-control") }}

        <label for="size">size:</label>

        {% for size, label in form.size.choices %}
                <br><label>
                    <input type="checkbox" name="size" value="{{ size }}"
                           {% if size in form.size.data %}checked{% endif %}>
                    {{ label }}
                </label>
            {% endfor %}


    <br>
        <input type="submit" value="Add Product">
    </form>
</div>


{% endblock %}