{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<style>
    .card-body {
      display: flex;
      justify-content: space-between;
    }
    .card-body img {
      width: 80%;
      height: auto;
    }
    table {
    border-collapse: collapse;
    }

    th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }

    /* Additional styling for specific columns */
    .date {
        width: 100px; /* Adjust width as needed */
    }

    .time {
        width: 80px; /* Adjust width as needed */
    }

    .summary {
        width: 300px; /* Adjust width as needed */
    }
</style>
<h1 class="Header"> DashBoard </h1>
<hr>
<div class="table">
    <h1>Product Sales Graph</h1>
    <div id="product_sales_graph">
        {{ graph_html | safe }}
    </div>
</div>


<div>
    <h2>Top 3 Popular Items</h2>
    <ul>
        {% for item in top_items %}
        <li>Product ID: {{ item[0] }}, Total Quantity: {{ item[1] }}</li>
        {% endfor %}
    </ul>
</div>


<h1 style="text-align: center; padding-top: 50px;">New items</h1>
<div class="product-container">
    {% for product in products %}
        <a href="{{ url_for('display_product', product_id=product.id) }}">
            <div class="card product-card">
                <img src="{{ url_for('static', filename='image/' + product.image_path) }}" class="card-img-top" alt="">
                <div class="card-body">
                    <p class="card-text">{{ product.name }}</p>
                    <p class="card-text">${{ product.price }}</p>
                </div>
            </div>
        </a>
    {% endfor %}
</div>

<div class="Calendar API">
    <h1>Upcoming Events</h1>
    <table>
        <thead>
            <tr>
                <th>Date & Time</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event['start']['dateTime'] }}</td>
                <td>{{ event['summary'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}