{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="box">
<h1 class="Header"> Promotions </h1>
</div>
    <form method="post" action="{{ url_for('adminPromotions') }}">

        <label for="ID">ID:</label>
        {{ form.ID(class="form-control") }}

        <label for="Name">Name:</label>
        {{ form.name(class="form-control") }}

        <label for="Discount">Discount:</label>
        {{ form.discount(class="form-control") }}

        <label for="Description">Description:</label>
        {{ form.description(class="form-control") }}

        <input type="submit" value="Add Promotion">
    </form>
{% endblock %}