{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}

<div class="box" style="z-index: 1;">
<h1 class="Header">Downloads </h1>
</div>
<body>
<div class="table">
    <h1>Download Product list into Excel</h1>
    <form action="/downloadProductData" method="get">
        <button type="submit">Download Excel</button>
    </form>
    <h1>Download User data into Excel</h1>
    <form action="/downloadUserData" method="get">
        <button type="submit">Download Excel</button>
    </form>
</div>

</body>

{% endblock %}