{% extends "adminBase.html" %}
{% block title %}Admin{% endblock %}
{% block content %}
<style>
    table, th, td {
  border: 1px solid;
    }
    table{
    width:100%;
    }
    .delete{
    width:3%;
    height:10%;
    }
</style>
<div class="box">
<h1 class="Header"> Promotions </h1>
</div>

<div class="table">
    <table class="dbtable">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Discount</th>
            <th>Description</th>
            <th>Del</th>
        </tr>
        {% for promotion in displaypromotion %}
        <tr>
            <td>{{ promotion[0] }}</td>
            <td>{{ promotion[1] }}</td>
            <td>{{ promotion[2] }}</td>
            <td>{{ promotion[3] }}</td>
            <td class="delete">
                <form method="post" action="{{ url_for('delete_promotion') }}">
                    <input type="hidden" name="id" value="{{ promotion[0] }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<div>
    <form method="post" action="{{ url_for('adminPromotions') }}">

        <label for="Name">Name:</label>
        {{ form.name(class="form-control") }}

        <label for="Discount">Discount:</label>
        {{ form.discount(class="form-control") }}

        <label for="Description">Description:</label>
        {{ form.description(class="form-control") }}

        <input type="submit" value="Add Promotion">
    </form>
</div>

{% endblock %}