{% extends "base.html" %}
{% block title %}Shopping Cart{% endblock %}
{% block content %}




<style>
        /* Add any CSS styles as needed */
        body {
            font-family: Arial, sans-serif;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin-bottom: 20px;
        }
        form {
            display: inline-block;
        }
    </style>


     <h1>Your Shopping Cart</h1>
    <h1>Your Cart</h1>

    <p>User ID: {{ UserID }}</p>

    <table>
        <thead>
            <tr>
                <th>Cart ID</th>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Size</th>
                <th>Price</th>
                <th>Action</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
             {% for i in range(cart|length) %}
                {% if i < product_data_list|length %}
                    <tr>
                        <td>{{ cart[i][0] }}</td>  {# Assuming index 0 corresponds to cart ID #}
                        <td>{{ product_data_list[i].name }}</td>
                        <td>{{ cart[i][3] }}</td>  {# Assuming index 3 corresponds to Quantity #}
                        <td>{{ cart[i][4] }}</td>  {# Assuming index 4 corresponds to Size #}
                        <td>{{ product_data_list[i].price }}</td>
                        <td>
                            <form method="POST" action="{{ url_for('del_cart') }}">
                                <input type="hidden" name="CartID" value="{{ cart[i][0] }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>


{% endblock %}