{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}
{% block content %}
<header>Checkout</header>

<!--    <h1>Checkout</h1>-->
<!--    <div>-->
<!--        <h2>Selected Items</h2>-->
<!--        <ul>-->
<!--            {% for item in selected_items %}-->
<!--            <li>{{ item.Product.name }} - Quantity: {{ item.Quantity }} - Subtotal: ${{ item.Subtotal }}</li>-->
<!--            {% endfor %}-->
<!--        </ul>-->
<!--        <p>Total Price: ${{ total_price }}</p>-->
<!--    </div>-->
<!--    <form action="/process-payment" method="POST">-->
<!--        <button type="submit">Proceed to Payment</button>-->
<!--    </form>-->



<h1>Checkout</h1>
    <ul>
        {% for item in selected_items %}
            <li>{{ item.Product.name }} - Quantity: {{ item.Quantity }} - Subtotal: ${{ item.Subtotal }}</li>
        {% endfor %}
    </ul>
    <p>Total Price: ${{ total_price }}</p>

    <!-- Add a form to submit payment -->
    <form action="/process_payment" method="POST">
        <input type="hidden" name="selected_items[]" value="{{ selected_items }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <button type="submit">Pay Now</button>
    </form>
{% endblock %}