{% extends "base.html" %}
{% block title %}Check Out{% endblock %}
{% block content %}

<header>Check Out</header>

<body>
    <div class="container-fluid">
        <form action="{{  url_for('checkout')  }}">
            <label for="firstname">First name:</label>
            {{ form.firstname(class="form-control") }}
            
            <label for="lastname">Last name:</label>
            {{ form.lastname(class="form-control") }}
            
            <label for="email">Email:</label>
            {{ form.email(class="form-control") }}
            
            <label for="address">Address:</label>
            {{ form.address(class="form-control") }}

            <label for="unitno">Unit Number:</label>
            {{ form.unitno(class="form-control") }}
            
            <label for="postalcode">Postal Code:</label>
            {{ form.postalcode(class="form-control") }}
        </form>
    </div>


    <div class="container-fluid">
        <form action="{{  url_for('checkout')  }}">
            <label for="nameoncard">Name on card:</label>
            {{ form.nameoncard(class="form-control") }}

            <label for="cardno">Card number:</label>
            {{ form.cardno(class="form-control") }}

            <label for="expirydate">Expiry Date:</label>
            {{ form.expirydate(class="form-control") }}

            <label for="cvv">CVV:</label>
            {{ form.cvv(class="form-control") }}
        </form>
    </div>
</body>


{% endblock %}