{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}
{% block content %}
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-e4305951-a479-420d-9170-79729d6fd94d" data-elfsight-app-lazy></div>
<h1 class="display-4">Home</h1>
<p>index page!</p>
<p>test</p>
<div class="text"><a class="sideNav-item" href="/adminProducts">Products</a></div>
<div class="text"><a class="sideNav-item" href="/cart">cart</a></div>
{% endblock %}