{% extends "base.html" %}
{% block title %}Eco-Wear Login{% endblock %}
{% block content %}

<div class="container loginpg ">

			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url({{ url_for('static', filename='image/green-leaves.jpg') }});"></div>

						<div class="login-wrap p-4 p-md-5">

			      	<div class="d-flex">
			      		<div class="w-100">
			      			<h3 class="mb-4" style="font-weight:bold;">Sign In</h3>
			      		</div>
			      	</div>

						<form method="post" action="{{ url_for('login') }}" class="signin-form">
			      		<div class="form-group mb-3">
			      			<label class="label" for="name">Contact Number</label>
			      			{{ form.username(class="form-control") }}
			      		</div>

						<div class="form-group mb-3">
							<label class="label" for="password">Password</label>
						    {{ form.password(class="form-control") }}
						</div>

						<div class="form-group">
							<button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign In</button>
						</div>
						{% if login_failure_message %}
						<span style="color: red;">{{ login_failure_message }}</span>
						{% endif %}

		            <div class="form-group">

									<div class="text-right">
										<a href="/forgetpassword">Forgot Your Password?</a>
									</div>
		            </div>
		          </form>

		         <p class="text-center">Don't have an account? <a href="{{ url_for('signup') }}">Register here</a>.</p>
		        </div>
		      </div>
				</div>
			</div>
</div>

{% endblock %}