{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}

<h1>Change Your Password</h1>
<form method="POST" action="{{ url_for('changepassword') }}">
        {{ form.hidden_tag() }}
        <label for="{{ form.current_password.id }}">Current Password:</label>
        {{ form.current_password }}
        <br>
        <label for="{{ form.new_password.id }}">New Password:</label>
        {{ form.new_password }}
        <br>
        <label for="{{ form.confirm_password.id }}">Confirm Password</label>
        {{ form.confirm_password }}
        <br>
        <input type="submit" value="Change Password">
    </form>

{% endblock %}