{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}
        {% with messages = get_flashed_messages() %}
                {% if messages%}
                        {% for msg in messages%}
                                <p>{{msg}}</p>
                        {% endfor %}
                {% endif%}
        {% endwith %}


<div class="container mt-4">
  <div class="passwordcard">
    <div class="password-change-header card-header">
      <h1 class="Password-Header card-title">Change Your Password</h1>
    </div>
    <div class="password-change-body card-body">
      <form method="POST" class="Password-Change-Form" action="{{ url_for('passwordchange') }}">
        <label class="Password-Change1" for="">Current Password:</label>
        {{ form.CurrentPasswordField(class="form-control") }}
        <br>
        <label class="Password-Change2" for="">New Password:</label>
        {{ form.NewPasswordField(class="form-control") }}
        <br>
        <label class="Password-Change3" for="">Confirm Password:</label>
        {{ form.ConfirmPasswordField(class="form-control") }}
        <br>
        <input class="Password-Button btn btn-primary" type="submit" value="Change Password">
      </form>
    </div>
  </div>
</div>
{% endblock %}