{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}

<h1 class="PasswordHeader">Change Your Password</h1>
<form method="POST" class="PasswordChangeForm" action="{{ url_for('passwordchange') }}">
        <label class="PasswordChange1" for="">Current Password:</label>
        {{ form.CurrentPasswordField(class="form-control") }}
        <br>
        <label class="PasswordChange2" for="">New Password:</label>
        {{ form.NewPasswordField(class="form-control") }}
        <br>
        <label class="PasswordChange3" for="">Confirm Password:</label>
        {{ form.ConfirmPasswordField(class="form-control") }}
        <br>
        <input class="PasswordButton" type="submit" value="Change Password">
    </form>

{% endblock %}