{% extends "base.html" %}
{% block title %}Product Page{% endblock %}
{% block content %}

<header class="banner mb-3" style="background-image: url({{ url_for('static', filename='image/green-leaves.jpg') }});"><!-- ======= Need change ======= -->
<div class=" d-flex h-100 align-items-center">
      <div class="mx-auto text-center Text-Outline">
        <h1 class="mx-auto my-0 text-uppercase">Product-page</h1>
      </div>
    </div>
</header>



<div class="containter">
    <div class="row">
        <div class="col-2">

            <div class="FilterWrap">
                <section id="filters">
                    <h5 class="text-center mb-3">Filters</h5>
                    <div class="dropdown-divider"></div>
                    <form id="filterform" method="post" action="{{ url_for('Productpage') }}">
                    <!-- Section: Price -->
                    <section class="mb-1 mt-3">
                        <h6 class="font-weight-bold mb-3">Price</h6>

                        <div class="pl-4">
                            {% for radio in form.pricerange %}
                            <div class="form-check pl-3">
                                 {{ radio(class="form-check-input", onchange="submitForm()") }}
                                <label>{{ radio.label }}</label>
                            </div>
                            {% endfor %}
                        </div>

                    </section><!-- Section: Price -->

                    <section class="mb-4">
                        <h6 class="font-weight-bold mb-3">Category</h6>

                        <div class="form-check">
                        {{ form.category_men(class="form-check-input", onchange="submitForm()") }}
                        <label class="form-check-label">{{ form.category_men.label }}</label>
                        </div>
                        <div class="form-check">
                        {{ form.category_women(class="form-check-input", onchange="submitForm()") }}
                        <label class="form-check-label">{{ form.category_women.label }}</label>
                        </div>
                        <div class="form-check">
                        {{ form.category_kids(class="form-check-input", onchange="submitForm()") }}
                        <label class="form-check-label">{{ form.category_kids.label }}</label>
                        </div>
                        <div class="form-check">
                        {{ form.category_others(class="form-check-input", onchange="submitForm()") }}
                        <label class="form-check-label">{{ form.category_others.label }}</label>
                        </div>
                    </section><!-- Section: category -->

                </form>
                        <div class="dropdown-divider"></div>
                <form method="POST" action="/Product">
                    <div class="text-center"><input type="submit" name="reset_button" value="Reset" class="btn btn-primary w-100"></div>
                </form>

                </section>

            </div>

        </div>

        <div class="col-10">

            <div class="product-container productpg">
                {% for product in products %}
                    <a href="{{ url_for('display_product', product_id=product.id) }}">
                        <div class="card product-card">
                          <img src="{{ url_for('static', filename='image/' + product.image_path) }}" class="card-img-top" alt="">
                          <div class="card-body">
                            <p class="card-text">{{ product.name }}</p>
                            <p class="card-text">${{ product.price }}</p>
                          </div>
                        </div>
                    </a>
                {% endfor %}
            </div>

        </div>
    </div>
</div>



<script>
        function submitForm() {
            document.getElementById("filterform").submit();
        }
    </script>




{% endblock %}