{% extends "base.html" %}
{% block title %} {{ product.name }} - Product Details {% endblock %}

{% block content %}

<header class="banner mb-3" style="background-image: url({{ url_for('static', filename='image/green-leaves.jpg') }});"><!-- ======= Need change ======= -->
<div class=" d-flex h-100 align-items-center">
      <div class="mx-auto text-center Text-Outline">
        <h1 class="mx-auto my-0 text-uppercase">Product page</h1>
      </div>
    </div>
</header>

<div class="container productdt">
    <div class="row boxpadding">
        <div class="col-6 text-center"><img class="product-image" src="{{ url_for('static', filename='image/' + product.image_path) }}" alt="{{ product.name }}"></div>

        <div class="col-6 detail">

            <h3 class="pt-3">{{ product.name }}</h3>
            <h4 class="float-right"> ${{ product.price }}</h4><br><br>
            {% for line in product.description.split('\n') %}
                <div>{{ line }}</div>
            {% endfor %}

            <br>
            <div class="dropdown-divider"></div>
            <br>
                <!-- Add more details as needed -->
                <!-- display the size options -->
                <form method="post" action="{{ url_for('add_to_cart', product_id=product.id) }}">

                    <div class="row pb-5">
                        <div class="col-5">
                            <label for="selected_size">Select Size:</label>
                            <select name="selected_size" class="form-control" id="size">
                                {% for size in sizes %}
                                    <option value="{{ size }}">{{ size }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col-7">
                            <label for="quantity">Quantity:</label>
                            <div class="d-flex">
                            <button type="button" class="form-control" onclick="decrement()">-</button>
                            <input type="text"  name="quantity" id="quantity" value="1" class="text-center form-control col-8" readonly>
                            <button type="button" class="form-control" onclick="increment()">+</button>
                            </div>
                        </div>
                    </div>

                {% if product.stock > 0 %}
                    <button type="submit"  class="form-control btn btn-primary rounded submit px-3">Add to Cart</button>
                {% else %}
                    <p>This product is currently out of stock.</p>
                {% endif %}
                </form>


        </div>

    </div>
</div>


<script>
        function increment() {
            var quantityInput = document.getElementById('quantity');
            var currentQuantity = parseInt(quantityInput.value, 10);
            var maxStock = {{ product.stock }};

            if (currentQuantity < maxStock) {
                quantityInput.value = currentQuantity + 1;
            }
        }

        function decrement() {
            var quantityInput = document.getElementById('quantity');
            var currentQuantity = parseInt(quantityInput.value, 10);

            if (currentQuantity > 1) {
                quantityInput.value = currentQuantity - 1;
            }
        }
    </script>

</div>

{% endblock %}