{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}

<div class="container mt-4">
  <div class="reset-password-card">
    <div class="reset-password-header card-header">
      <h1 class="PasswordHeader card-title">Reset Your Password</h1>
    </div>
    <div class="reset-password-body card-body">
      <form method="POST" class="PasswordChangeForm" action="{{ url_for('passwordchange') }}">
        <label class="EnterEmail" for="">Enter Your Email:</label>
        {{ form.Email(class="form-control") }}
        <br>
        <input class="PasswordButton btn btn-primary" type="submit" value="Change Password">
      </form>
    </div>
  </div>
</div>

{% endblock %}