{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}
{% block content %}

<h1>Register</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <form method="post" action="{{ url_for('signup') }}">

        <label for="username">Username:</label>
        {{ form.name(class="form-control") }}

        <label for="password">Password:</label>
        {{ form.password(class="form-control") }}

        <label for="password">cfm password:</label>
        {{ form.cfmpassword(class="form-control") }}

        <label for="email">email:</label>
        {{ form.email(class="form-control") }}

        <label for="dName">Contact Number:</label>
        {{ form.number(class="form-control") }}

        <label for="Name">Date of birth:</label>
        {{ form.dob(class="form-control") }}
        <input type="submit" value="Submit" class="btn btn-primary"/>
        <input type="submit" value="Register">
    </form>

    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>

{% endblock %}