{% extends "base.html" %}
{% block title %}Eco-Wear Signup{% endblock %}
{% block content %}

<div class="container loginpg ">

<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10">
		<div class="wrap d-md-flex">
			<div class="img" style="background-image: url({{ url_for('static', filename='image/green-leaves.jpg') }});"></div>

			<div class="login-wrap p-4 p-md-5">

      	<div class="d-flex">
      		<div class="w-100">
      			<h3 class="mb-4" style="font-weight:bold;">Account Registration</h3>
      		</div>
      	</div>

			<form method="post" action="{{ url_for('signup') }}" onsubmit="return validateForm()">

                 <div class="form-group mb-3">
                    <label for="dName">Display Name:</label>
                    {{ form.name(class="form-control") }}
                </div>
                <div id="dnameError" style="color: red;"></div>

                <div class="form-group mb-3">
                    <label for="password">Password:</label>
                    {{ form.password(class="form-control") }}
                </div>
                <div id="passwordError" style="color: red;"></div>

                <div class="form-group mb-3">
                    <label for="password">Repeat password:</label>
                    {{ form.cfmpassword(class="form-control") }}
                </div>
                <div id="cfmpasswordError" style="color: red;"></div>

                <div class="form-group mb-3">
                    <label for="email">Email:</label>
                    {{ form.email(class="form-control") }}
                </div>
                <div id="emailError" style="color: red;"></div>

                <div class="form-group mb-3">
                    <label for="username">Contact Number:</label>
                    {{ form.number(class="form-control") }}
                </div>
                <div id="usernameError" style="color: red;"></div>

                <div class="form-group mb-3">
                    <label for="Dob">Date of birth:</label>
                    {{ form.dob(class="form-control") }}
                </div>
                <div id="dobError" style="color: red;"></div>

                <div class="form-group mb-3 pb-3 pt-3">
                    <div class="g-recaptcha" data-sitekey="{{ site_key }}"></div>
                </div>
                <div id="recaptchaError" style="color: red;"></div>

                     <input type="submit" value="Register" class="form-control btn btn-primary rounded submit px-3">
                </form>
                {% if failure_message %}
						<span style="color: red;">{{ failure_message }}</span>
                {% endif %}
                <br>
             <p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
		     </div>
		   </div>
	</div>
</div>

</div>



<script>
    function validateForm() {
        var name = document.getElementById('name').value;
        var password = document.getElementById('password').value;
        var repeat_password = document.getElementById('cfmpassword').value;
        var email = document.getElementById('email').value;
        var number = document.getElementById('number').value;
        var dob = document.getElementById('dob').value;

        var usernameError = document.getElementById('usernameError');
        var passwordError = document.getElementById('passwordError');
        var cfmpasswordError = document.getElementById('cfmpasswordError');
        var emailError = document.getElementById('emailError');
        var dnameError = document.getElementById('dnameError');
        var dobError = document.getElementById('dobError');
        var recaptchaError = document.getElementById('recaptchaError');

        usernameError.innerHTML = "";
        passwordError.innerHTML = "";
        cfmpasswordError.innerHTML = "";
        emailError.innerHTML = "";
        dnameError.innerHTML = "";
        dobError.innerHTML = "";
        recaptchaError.innerHTML = "";

        // Validate reCAPTCHA
        var recaptchaResponse = grecaptcha.getResponse();
        if (recaptchaResponse.length === 0) {
            recaptchaError.innerHTML = "Please complete the reCAPTCHA verification.";
            return false;
        }

        if (name === "") {
            dnameError.innerHTML = "Name is required.";
        }
        if (password === "") {
            passwordError.innerHTML = "Password is required.";
        }
        if (repeat_password === "" || password !== repeat_password) {
            cfmpasswordError.innerHTML = "Confirm password is required and must match the password.";
        }
        if (email === "") {
            emailError.innerHTML = "Email is required.";
        }
        if (number === "" || number === null) {
            usernameError.innerHTML = "Contact Number is required.";
        }
        if (number.length !== 8) {
            usernameError.innerHTML = "Invalid Contact number, must be 8 digits.";
        }
        if (dob === "") {
            dobError.innerHTML = "Date of birth is required.";
        }

        if(name === "" ||password === ""||repeat_password === "" || password !== repeat_password||email === ""||number === "" || number === null||number.length !== 8||dob === ""){
            return false;
        }
        else{
            return true;
        }
    }
</script>









{% endblock %}