{% extends "base.html" %}
{% block title %}Library Loan System - Home{% endblock %}
{% block content %}

<div class="container loginpg ">

<div class="row justify-content-center">
	<div class="col-md-12 col-lg-10">
		<div class="wrap d-md-flex">
			<div class="img" style="background-image: url({{ url_for('static', filename='image/green-leaves.jpg') }});"></div>

			<div class="login-wrap p-4 p-md-5">

      	<div class="d-flex">
      		<div class="w-100">
      			<h3 class="mb-4" style="font-weight:bold;">Account Registration</h3>
      		</div>
      	</div>

			<form method="post" action="{{ url_for('signup') }}">


                      <div class="form-group mb-3">
                         <label for="username">Display Name:</label>
                         {{ form.name(class="form-control") }}
                     </div>
                     <div class="form-group mb-3">
                         <label for="password">Password:</label>
                         {{ form.password(class="form-control") }}
                     </div>
                     <div class="form-group mb-3">
                         <label for="password">Repeat password:</label>
                         {{ form.cfmpassword(class="form-control") }}
                     </div>
                     <div class="form-group mb-3">
                         <label for="email">Email:</label>
                         {{ form.email(class="form-control") }}
                     </div>
                     <div class="form-group mb-3">
                         <label for="dName">Contact Number:</label>
                         {{ form.number(class="form-control") }}
                     </div>
                     <div class="form-group mb-3">
                         <label for="Dob">Date of birth:</label>
                         {{ form.dob(class="form-control") }}
                     </div>

                     <input type="submit" value="Register" class="form-control btn btn-primary rounded submit px-3">
                 </form>
                <br>
             <p class="text-center">Already have an account? <a href="{{ url_for('login') }}">Login here</a>.</p>
		     </div>
		   </div>
	</div>
</div>

</div>













{% endblock %}