{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}

{{ username }}

{{ UserID }}

{{ Email }}

<h1>User Profile</h1>
    <p>User ID: {{ UserID }}</p>

    {% for user in userdata %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <!-- Add more cells as needed for other user details -->
                </tr>
            {% endfor %}

<form method="POST" action="">
<div class="form-group">
{{ render_field(form.first_name, class="form-control") }}
</div>
<div class="form-group">
{{ render_field(form.last_name, class="form-control") }}
</div>
<div class="form-group">
{{ render_field(form.gender, class="form-control") }}
</div>
<div class="form-group">
{{ render_field(form.membership, class="form-check", style="list-style-type:none") }}
</div>
<div id="prof">
<div class="form-group">
{{ render_field(form.remarks, class="form-control") }}
</div>
</div>
<input type="submit" value="Submit" class="btn btn-primary"/>
</form>
<br>
<br>
<form method="POST" action="{{ url_for('del_user') }}">
        <input type="hidden" name="order" value="order">
        <input type="submit" value="View order">
    </form>
<br>
<br>

<form method="POST" action="{{ url_for('del_user') }}">
        <input type="hidden" name="user_ID" value="userID">
        <input type="submit" value="Delete Account">
    </form>

{% endblock %}