<link rel="stylesheet" href="userprofile.css">

{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}

<h1 class="UserHeader">User Profile</h1>


    {% for user in userdata %}
        <div class="container-fluid table-responsive" style="overflow-x:auto;">
            <table class="profile">
            <tr class="row1">
                <td class="profile1label">Username:</td>
                <td class="profile1">{{ user[1] }}</td>
            </tr>
            <tr class="row2">
                <td class="profile2label">Phone Number:</td>
                <td class="profile2">{{ user[3] }}</td>
            </tr>
            <tr class="row3">
                <td class="profile3label">Email Address:</td>
                <td class="profile3">{{ user[4] }}</td>
            </tr>
            <!-- Add more rows as needed for other user details -->
            </table>
        </div>
            {% endfor %}


<br>
<!--<form method="POST" action="{{ url_for('del_user') }}">
        <input type="hidden" name="order" value="order">
        <input type="submit" value="View order">
</form>-->
<br>
<div class="button-container">
    <a href="/passwordchange">change pw</a>


    <button class="DeleteAccount">
        <input type="hidden" name="delAccount" value="{{ UserID }}">
        <input type="submit" onclick="return confirm('Are you sure you want to delete your account? This action is PERMANENT!');" value="Delete Account">
    </button>
</div>
{% endblock %}