{% extends "base.html" %}
{% block title %}User Profile Page{% endblock %}
{% block content %}

<h1>My Account</h1>

{{ username }}

{{ UserID }}

{{ Email }}

<h1>User Profile</h1>
    <p>User ID: {{ UserID }}</p>

    {% for user in userdata %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <!-- Add more cells as needed for other user details -->
                </tr>
            {% endfor %}
First Name:

Last Name:

Email:

Phone Number:

{% endblock %}